<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Test Page</title>
</head>

<body>
  <h1>Ten last user</h1>
    
  <script src="bundle.js"></script>

  <p>
    <div id = "DataSection">
      <ul id="list">
        <% for (let i=0; i<data.length; i++){%>
          <li>ID: <%=data[i].id%>  Username:  <%=data[i].name%>  Email: <%=data[i].email%></li>
        <%} %>
  
      </ul>

    </div>
  

  <script>
  let listEl = document.getElementById("list");
  // let arr = {{data}};
  // arr.forEach(element => {
  //     console.log(element)
  // });
  </script>
  



</body>
</html>
